<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title></title>
	<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
</head>

<body>
	<p>
		<div id="app">
			<p>{{ message }}</p>
			<span v-bind:title="title">You will see the tips of this message</span>
			<ol>
				<li v-for="c in colors">{{ c }}</li>
			</ol>
			<p> {{ keyin }} </p>
			<input v-model="keyin" />
			<input type="button" @click="dojump" value="Click Me" />
			<table border="1" cellspacing="0" cellpadding="2">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Vehicle License</th>
					<th>cntFee</th>
					<th>HomeAddress</th>
				</tr>
				<tr v-for="d in pals">
					<td>{{d._id}}</td>
					<td>{{d.name}}</td>
					<td>{{d.CarNumber}}</td>
					<td>{{d.cntFee}}</td>
					<td>{{d.HomeAddress}}</td>
				</tr>
			</table>
			<p>Picture in mongodb</p>
			<input type="button" @click="dopic" value="Picture Show" />
			<table>
				<tr>
					<th>FileName</th>
					<th>Action</th>
				</tr>
				<tr v-for="pic in pics">
					<td>{{pic}}</td>
					<td><img :src="baseUrl + pic"></img></td>
				</tr>
			</table>

		</div>
		<!-- <image src='http://localhost:8080/mongo/view?fname={{pic}}'> -->
		<div id="watch-example">
			<p>
				Ask a yes/no question:
				<input v-model="question">
			</p>
			<p>{{ answer }}</p>
		</div>


	</p>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				message: 'Hello vue',
				title: 'New age of vue bind',
				colors: ['red', 'white', 'blue'],
				keyin: '',
				pals: '',
				pics: '',
				baseUrl:'http://localhost:8080/mongo/view?fname='
			},
			methods: {
				dojump: function () {
					var ele = document.getElementById("app")
					var newele = document.createElement("div")
					var vm = this
					newele.innerHTML = "<p style='color:red'>Click Me in document</p>"
					ele.appendChild(newele)
					console.log("some thing click");
					// alert("Clicked!");
					axios.get('http://localhost:8080/mongo/list')
						.then(function (response) {
							vm.pals = response.data
							console.log(response.data)
						})
						.catch(function (error) {
							console.log("error on ajax call")
						})
				},
				dopic: function () {
					var vm = this;
					axios.get('http://localhost:8080/mongo/files')
						.then(function (response) {
							vm.pics = response.data
							console.log(response.data)
						})
						.catch(function (error) {
							console.log("error on ajax call :" + error)
						})
				}
			}
		})

		var watchExampleVM = new Vue({
			el: '#watch-example',
			data: {
				question: '',
				answer: 'I cannot give you an answer until you ask a question!'
			},
			watch: {
				// 如果 `question` 发生改变，这个函数就会运行
				question: function (newQuestion, oldQuestion) {
					this.answer = 'Waiting for you to stop typing...'
					this.debouncedGetAnswer()
				}
			},
			created: function () {
				// `_.debounce` 是一个通过 Lodash 限制操作频率的函数。
				// 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率
				// AJAX 请求直到用户输入完毕才会发出。想要了解更多关于
				// `_.debounce` 函数 (及其近亲 `_.throttle`) 的知识，
				// 请参考：https://lodash.com/docs#debounce
				this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
			},
			methods: {
				getAnswer: function () {
					if (this.question.indexOf('?') === -1) {
						this.answer = 'Questions usually contain a question mark. ;-)'
						return
					}
					this.answer = 'Thinking...'
					var vm = this
					axios.get('https://yesno.wtf/api')
						.then(function (response) {
							vm.answer = _.capitalize(response.data.answer)
						})
						.catch(function (error) {
							vm.answer = 'Error! Could not reach the API. ' + error
						})
				}
			}
		})
	</script>
</body>

</html>
